*{
    margin:0;
    padding:0;
}
html{
    font-size: 62.5%;
}
body{
    font-family: "SimHei";
}
header{
    width: 100%;
    background-color: #91D4DA;
    line-height: 40px;
    text-align: center;
}
header a{
    color: #fff;
    font-size: 1.6rem;
    text-decoration: none;
    line-height: 40px;
    position: absolute;
    left: 15px;
    padding-left: 12px;
    background: url(back.png) no-repeat;
    background-size: 10px 14px;
    background-position: 0 50%;
}

header p{
    color: #fff;
    font-size: 2.2rem; 
    line-height: 40px;
}

