*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}
body{
    font-family: "SimHei";
}
header{
    width: 100%;
    background-color: #91D4DA;
    line-height: 40px;
    text-align: center;
}


header a{
    color: #fff;
    font-size: 1.6rem;
    text-decoration: none;
    line-height: 50px;
    position: absolute;
    left: 15px;
    padding-left: 12px;
    background: url(back.png) no-repeat;
    background-size: 10px 14px;
    background-position: 0 50%;
}

header p{
    color: #fff;
    font-size: 2.2rem; 
    line-height: 50px;
}
.navigation ul{
    width: 100%;
    list-style-type: none;
    display: flex;
    display: -webkit-flex;
    justify-content:space-between;
    text-align: center;
}
.navigation li{
    box-sizing: border-box;
    line-height: 50px;
    flex: 1;
    font-size: 2rem;
    display: inline;
    color: #676767;
}
.navigation .li02{
    border-bottom: 4px solid #91D4DA;
}
